<div class="row">
    <div class="col-1"></div>
    <div class="col-10 search-bar">
      <form method="POST" action="/searchResults">
        <input name="searchTerm" class="p-2" type="text" size="130" id="search"placeholder="Search..." />
        <input type="submit" class="btn btn-primary search-button"/>
        <input type="hidden" value={{currentUser.id}} name="userId"/>
        <input type="hidden" value={{currentUser.username}} name="username"/>
      </form>
    </div>
    <div class="col-1"></div>
  </div>