{{#if message.length}}
  <div class="alert alert-info">
    {{message}}
  </div>
{{/if}}



<div class="container">
  <div class="mt-6 row">
    <div class="col-md-12">
      <div class="row d-flex justify-content-center mt-5">

        <div class="col-md-4 card">
          <div class="card-body">
            <h5 class="card-title">Please log in</h5>
            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="username" class="visually-hidden">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""
                  autocomplete="off" />
              </div>
              <div class="mb-3">
                <label for="password" class="visually-hidden">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required=""
                  autocomplete="off" />
              </div>
              <div class="mb-3">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            {{#if accountCreated}}
            <div class="alert alert-success" role="alert">Account created.</div>
            {{/if}}
            <h2 class="card-title">Create User</h2>
            <p>Create a new user account.</p>
             <form method="post" action="/newUser">
              <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" />
              </div>
              <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" />
              </div>
              <div class="mb-3">
                <label for="password">Re-Type Password</label>
                <input type="password" class="form-control" name="re_password" id="re_password" />
              </div>
              <div class="mb-3">
                <input type="submit" value="Submit" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>